<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Chat</title>
    <link rel="stylesheet" href="/edit.css " />
  </head>
  <body>
    <h3>Edit Chat</h3>

    <p>
      This chat was sent from <b><i><%= chat.from %></i></b> to
      <b><i><%= chat.to %></i></b>
    </p>
    <form method="POST" action="/chats/<%= chat._id%>?_method=PUT">
      <textarea name="message"><%= chat.message %></textarea>
      <button>Edit</button>
    </form>
  </body>
</html>
